div {
    background: linear-gradient(to bottom, #10131B, rgb(0, 0, 0));
}

h1 {
    background-image: url(images\Steam_logo.svg.png);
    background-size: cover;
}

header {
    background-color: #10131B;
}

#logo {
    background-image: url(images\catalogo.png);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    height: 100px;
}